{% extends "kanban/base.html" %}

{% block content %}
    <h1>Назначить задачу</h1>
    <form method="POST">
        {% csrf_token %}
        
        <p>
            <label for="{{ form.executor.id_for_label }}">исполнитель:</label>
            {{ form.executor }}
            {% if form.executor.errors %}
                {% for error in form.executor.errors %}
                    <span class="text-danger">{{ error }}</span><br>
                {% endfor %}
            {% endif %}
        </p>

        <p>
            <label for="{{ form.deadline_date.id_for_label }}">дата дедлайна:</label>
            {% if form.deadline_date.errors %}
                <input type="date" name="{{ form.deadline_date.name }}" id="{{ form.deadline_date.id_for_label }}" value="{{ form.deadline_date.value|default_if_none:'' }}" class="form-control is-invalid">
                {% for error in form.deadline_date.errors %}
                    <span class="text-danger">{{ error }}</span><br>
                {% endfor %}
            {% else %}
                <input type="date" name="{{ form.deadline_date.name }}" id="{{ form.deadline_date.id_for_label }}" value="{{ form.deadline_date.value|default_if_none:'' }}" class="form-control">
            {% endif %}
        </p>

        <p>
            <label for="{{ form.deadline_time.id_for_label }}">время дедлайна:</label>
            {% if form.deadline_time.errors %}
                <input type="time" name="{{ form.deadline_time.name }}" id="{{ form.deadline_time.id_for_label }}" value="{{ form.deadline_time.value|default_if_none:'' }}" class="form-control is-invalid">
                {% for error in form.deadline_time.errors %}
                    <span class="text-danger">{{ error }}</span><br>
                {% endfor %}
            {% else %}
                <input type="time" name="{{ form.deadline_time.name }}" id="{{ form.deadline_time.id_for_label }}" value="{{ form.deadline_time.value|default_if_none:'' }}" class="form-control">
            {% endif %}
        </p>

        <button type="submit" class="btn btn-primary">назначить задачу</button>
    </form>
{% endblock %}
