{% extends "kanban/base.html" %}

{% block content %}
    <h2 class="kanban-title">{{ kanban.name }}</h2>
    <p class="kanban-owner">автор: <b>{{ kanban.owner }}</b></p>
    <div class="tasks-container">
        <div class="tasks-item task-new">
            <h3>новые задачи:</h3>
            <ol class="tasks-list">
            {% for task in tasks_new %}
                <li>
                    <h4>{{ task.name }}</h4>
                    {% if object.owner == user %}
                    <div class="task-controls">
                        <a href="{% url 'kanban:task_delete' task.id %}">удалить</a>
                        <a href="{% url 'kanban:task_activate' task.id %}">назначить</a>
                    </div>
                    {% endif %}
                    <p class="task-info">
                        создано: {{ task.created_date }} в {{ task.created_time }}
                    </p>
                    <p class="task-description">
                        {{ task.description|truncatechars:100 }}
                        <a href="{% url 'kanban:task_detail' task.id %}">подробнее</a>
                    </p>
                </li>
            {% empty %}
                <li>нет новых задач</li>
            {% endfor %}
            </ol>
        </div>

        <div class="tasks-item task-active">
            <h3>активные задачи:</h3>
            <ol class="tasks-list">
            {% for task in tasks_active %}
            <li>
                <h4>{{ task.name }}</h4>
                {% if object.owner == user %}
                <div class="task-controls">
                    <a href="{% url 'kanban:task_delete' task.id %}">удалить</a>
                    <a href="{% url 'kanban:task_complete' task.id %}">завершить</a>
                </div>
                {% endif %}
                <p class="task-info">
                    исполнитель: <strong>{{ task.executor }}</strong><br>
                    создано: {{ task.created_date }} в {{ task.created_time }}<br>
                    назначено: {{ task.assigned_date }} в {{ task.assigned_time }}<br>
                    дедлайн: {{ task.deadline_date }} в {{ task.deadline_time }}
                </p>
                <p class="task-description">
                    {{ task.description|truncatechars:100 }}
                    <a href="{% url 'kanban:task_detail' task.id %}">подробнее</a>
                </p>
            </li>
            {% empty %}
                <li>нет активных задач</li>
            {% endfor %}
            </ol>
        </div>

        <div class="tasks-item task-completed">
            <h3>готовые задачи:</h3>
            <ol class="tasks-list">
            {% for task in tasks_completed %}
                <li>
                    <h4>{{ task.name }}</h4>
                    {% if object.owner == user %}
                    <div class="task-controls">
                        <a href="{% url 'kanban:task_delete' task.id %}">удалить</a>
                    </div>
                    {% endif %}
                    <p class="task-info">
                        исполнитель: <strong>{{ task.executor }}</strong><br>
                        создано: {{ task.created_date }} в {{ task.created_time }}<br>
                        назначено: {{ task.assigned_date }} в {{ task.assigned_time }}<br>
                        дедлайн: {{ task.deadline_date }} в {{ task.deadline_time }}<br>
                        завершено: {{ task.completed_date }} в {{ task.completed_time }}
                    </p>
                    <p class="task-description">
                        {{ task.description|truncatechars:100 }}
                        <a href="{% url 'kanban:task_detail' task.id %}">подробнее</a>
                    </p>
                </li>
            {% empty %}
                <li>нет готовых задач</li>
            {% endfor %}
            </ol>
        </div>

        <div class="tasks-item task-overdue">
            <h3>просроченные задачи:</h3>
            <ol class="tasks-list">
            {% for task in tasks_overdue %}
            <li>
                <h4>{{ task.name }}</h4>
                {% if object.owner == user %}
                <div class="task-controls">
                    <a href="{% url 'kanban:task_delete' task.id %}">удалить</a>
                    <a href="{% url 'kanban:task_complete' task.id %}">завершить</a>
                </div>
                {% endif %}
                <p class="task-info">
                    исполнитель: <strong>{{ task.executor }}</strong><br>
                    создано: {{ task.created_date }} в {{ task.created_time }}<br>
                    назначено: {{ task.assigned_date }} в {{ task.assigned_time }}<br>
                    дедлайн: {{ task.deadline_date }} в {{ task.deadline_time }}
                </p>
                <p class="task-description">
                    {{ task.description|truncatechars:100 }}
                    <a href="{% url 'kanban:task_detail' task.id %}">подробнее</a>
                </p>
            </li>
            {% empty %}
                <li>нет просроченных задач</li>
            {% endfor %}
            </ol>
        </div>
    </div>
    {% if object.owner == user %}
    <div class="kanban-controls">
        <a href="{% url 'kanban:task_create' kanban.id %}">добавить задачу</a>
        <a href="{% url 'kanban:kanban_delete' kanban.id %}">удалить эту доску</a>
        <a href="{% url 'kanban:kanban_create' %}">создать новую доску</a>
    </div>
    {% endif %}
{% endblock %}