html {
    font-size: 15px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Serif', serif;
    font-size: 1rem;
}

h1 {
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 2rem;
}

h2 {
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}

h3 {
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 1.3rem;
}

.page_container {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.header-container {
    padding: 20px 30px;
    background-color: #000;
    color: #fff;
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
}

.header-container > *{
    flex-grow: 1;
    flex-basis: 0;
}

.header-list {
    list-style-type: none;
    display: flex;
    gap: 10px;
}

.header-link {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #fff;
}

.logo-img {
    width: 30px;
    height: auto;
    filter: invert();
}

.logo-container {
    text-align: center;
}

.logo-container a {
    text-decoration: none;
}

.logo-text {
    color: #fff;
    font-size: 2rem;
}

.user-container {
    display: flex;
    justify-content: flex-end;
}

.main-container {
    padding: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

 .main-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
 }

.kanbans-section:not(:last-child) {
    margin-bottom: 30px;
}

.kanbans-list {
    list-style-type: none;
    max-width: 900px;
}

.kanbans-title {
    margin-bottom: 15px;
}

.kanban-owner {
    margin-bottom: 20px;
}

.page-controls {
    align-self: center;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.tasks-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    margin-bottom: 20px;
}

.tasks-item {
    border: 1px solid #000;
    padding: 15px;
}

.tasks-category-title {
    margin-bottom: 15px;
}

.tasks-list {
    list-style-type: none;
}

.tasks-list li:not(:last-child) {
    margin-bottom: 20px;
}

.task-title {
    align-self: center;
}

.task-controls {
    display: flex;
    gap: 10px;
    margin: 2px 0;
}

.task-description {
    max-width: 900px;
    margin-bottom: 15px;
}

.task-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-button {
    border: 1px solid #000;
    background-color: #F2F4F4;
    padding: 5px 25px;
    align-self: flex-start;
}

.link-button {
    color: #000;
    background-color: #F2F4F4;
    border: 1px solid #000;
    padding: 5px 25px;
    text-decoration: none;
}

.button--yellow {
    background-color: hsl(48, 89%, 80%);
}

.button--red {
    background-color: hsl(6, 78%, 83%);
}

.button--green {
    background-color: hsl(145, 61%, 80%);
}

.task-active {
    background-color: hsl(48, 89%, 80%);
}

.task-completed {
    background-color: hsl(145, 61%, 80%);
}

.task-overdue {
    background-color: hsl(6, 78%, 83%);
}

.footer-container {
    padding: 20px 30px;
    background-color: #000;
    color: #fff;
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
}

.footer-link {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #fff;
}

.errorlist {
    list-style-type: none;
    color: #C70039;
}

.image--responsive {
    max-width: 100%;
    height: auto;
}

.about-section {
    margin-bottom: 40px;
}

.team-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.team-item {
    text-align: center;
}

.team_photo {
    border-radius: 50%;
    width: 300px;
}

.section-heading {
    text-align: center;
    margin-bottom: 10px;
}

.about-section {
    max-width: 900px;
}

.social {
    width: 20px;
    height: auto;
}