* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page_container {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.header-container {
    padding: 20px 30px;
    background-color: #000;
    color: #fff;
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
}

.header-list {
    list-style-type: none;
    display: flex;
    gap: 10px;
}

.header-link {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #fff;
}

.logo-img {
    width: 30px;
    height: auto;
    filter: invert();
}

.logo-container a {
    text-decoration: none;
}

.logo-text {
    color: #fff;
    font-size: 2rem;
}

.main-container {
    padding: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kanbans-section:not(:last-child) {
    margin-bottom: 30px;
}

.kanbans-list {
    list-style-type: none;
}

.tasks-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
}

.footer-container {
    padding: 20px 30px;
    background-color: #000;
    color: #fff;
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
}

.footer-link {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #fff;
}

.errorlist {
    list-style-type: none;
    color: #C70039;
}
