{% extends "kanban/base.html" %}

{% block content %}
    <div class="main-item">
    {% if login_required %}
        <div class="login_required">
            <a class="link" href="{% url 'kanban:user_login' %}">войдите</a> или 
            <a class="link" href="{% url 'kanban:user_register' %}">зарегистрируйтесь</a>
            чтобы увидеть здесь свои доски.
        </div>
    {% else %}

        {% if my_kanbans %}
        <section class="kanbans-section">
            <h2 class="kanbans-title">мои доски</h2>
            <ul class="kanbans-list">
                {% for kanban in my_kanbans %}
                <li class="kanbans-item">
                    <a class="kanbans-link" href="{% url 'kanban:kanban_detail' kanban.id %}">{{ kanban.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </section>
        {% else %}
        <p>Вы пока не создали досок.</p>
        {% endif %}

        {% if partner_kanbans %}
        <section class="kanbans-section">
            <h2 class="kanbans-title">доски с задачами для меня</h2>
            <ul class="kanbans-list">
                {% for kanban in partner_kanbans %}
                <li class="kanbans-item"><a href="{% url 'kanban:kanban_detail' kanban.id %}">{{ kanban.name }}</a></li>
                {% endfor %}
            </ul>
        </section>
        {% endif %}

        {% if user.is_authenticated %}
            <a class="link-button" href="{% url 'kanban:kanban_create' %}">создать доску</a>
        {% endif %}
    
    {% endif %} 
    </div> 


{% endblock %}