{% extends "kanban/base.html" %}

{% block content %}
    <div class="main-item">
        <h2 class="task-title">{{ task.name }}</h2>
        <div class="task-info">
            <p><strong>принадлежит доске:</strong> <a href="{% url 'kanban:kanban_detail' pk=task.kanban.pk %}">{{ task.kanban.name }}</a></p>
            <p><strong>статус:</strong> {{ task.get_status_display }}</p>
            
            <p><strong>создана:</strong> {{ task.created_date }} в {{ task.created_time }}</p>

            {% if task.assigned_date %}
                <p><strong>назначена:</strong> {{ task.assigned_date }} в {{ task.assigned_time }} пользователю {{ task.executor }}
                <p><strong>дедлайн:</strong> {{ task.deadline_date }} в {{ task.deadline_time }}</p>
            {% endif %}

            {% if task.completed_date %}
                <p><strong>завершена:</strong> {{ task.completed_date }} в {{ task.completed_time }}</p>
            {% endif %}
        </div>

        <div class="task-description">
            {{ task.description }}
        </div>

        <div class="page-controls">
        {% if request.user == task.kanban.owner %}
            {% if task.status == "new"%}
                <a class="link-button button--yellow" href="{% url 'kanban:task_activate' pk=task.pk %}">назначить&nbsp;задачу</a>
            {% endif %}

            {% if task.status == "active"%}
                <a class="link-button button--green" href="{% url 'kanban:task_complete' pk=task.pk %}">завершить&nbsp;задачу</a>
                <a class="link-button" href="{% url 'kanban:task_cancel' pk=task.pk %}">отменить&nbsp;задачу</a>
            {% endif %}

            {% if task.status == "overdue"%}
                <a class="link-button" href="{% url 'kanban:task_cancel' pk=task.pk %}">отменить&nbsp;задачу</a>
            {% endif %}

            <a class="link-button button--red" href="{% url 'kanban:task_delete' pk=task.pk %}">удалить&nbsp;задачу</a>

        {% endif %}
        <a class="link-button" href="{% url 'kanban:kanban_detail' pk=task.kanban.pk %}">вернуться&nbsp;на&nbsp;доску</a>
        </div>
    </div>

{% endblock %}