{% extends "kanban/base.html" %}

{% block content %}
<div class="main-item">
    <form class="task-form" action="" method="POST">
        {% csrf_token %}
        <h2>Завершить задачу {{ object.name }}?</h2>
        <p>Это действие нельзя будет отменить!</p>
        {{ form.as_p }}
        <input class="form-button button--green" type="submit" value="завершить задачу">
    </form>
    <p><a class="link-button" href="{% url 'kanban:kanban_detail' pk=task.kanban.pk %}">вернуться на доску</a></p>
</div>
{% endblock %}