{% extends "kanban/base.html" %}

{% block content %}
    <h2 class="task-title">{{ task.name }}</h2>
    <p>принадлежит доске: <a href="{% url 'kanban:kanban_detail' pk=task.kanban.pk %}">{{ task.kanban.name }}</a></p>
    <p>{{ task.description }}</p>
    {% if request.user == task.kanban.owner %}
        <p><a href="{% url 'kanban:task_delete' pk=task.pk %}">удалить задачу</a></p>
        {% if not task.executor %}
            <p><a href="{% url 'kanban:task_activate' pk=task.pk %}">назначить эту задачу</a></p>
        {% else %}
            <p>Task assigned to: {{ task.executor }}</p>
        {% endif %}
    {% endif %}

{% endblock %}